* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;

}

.all {
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
}

.main_menu {
    background-color: aqua;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_menu>div {
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: aquamarine;

    border-radius: 10px;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inPage_home {
    margin-top: 20px;
    background-color: aliceblue;
    min-width: 1400px;
    min-height: 650px;
}