<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 设置字符集 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 网站标题 -->
    <title>衡千帆的世界</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <!-- 引入主页样式 -->
    <link rel="stylesheet" href="./css/index.css">
    <!-- 在线引入vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- 在线引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <div class="all" id="app">
        <div class="main_menu">
            <div v-for="(item, index) in menu_data" @click="changeIndex(index)">
                {{item}}
            </div>
        </div>
        <div class="content">
            <div v-if="now_menu_index == 0" class="inPage_home">

            </div>
            <div v-if="now_menu_index == 1" class="inPage_home">
                <iframe src="./pages/study.html" frameborder="0" height="650px" width="1400px"></iframe>
            </div>
            <div v-if="now_menu_index == 2">3333</div>
        </div>
    </div>
</body>
<script>
    const { createApp, ref } = Vue
    const app = createApp({

        setup() {
            // 菜单选项卡
            const now_menu_index = ref(1)
            const menu_data = ['主页', '笔记', '33', '44', '55']
            const changeIndex = (momo) => {
                now_menu_index.value = momo
            }


            return {
                // 菜单选项卡
                now_menu_index,
                menu_data,
                changeIndex
            }
        }

    })


    app.mount("#app")
</script>

</html>